.section-3 {
  background-color: $color-bg-s;
.section-header{
  padding: 0.9rem 0;
  background-color: $color-title;
  position: relative;
  h2{
    overflow: hidden;
    padding-left: 1.2rem;
  }
  span{
    padding-left: 1.2rem;
  }
  h2::after {
  content:"";
  display: block;
  width: 2rem;
  border-top: 1px solid #fff;
  border-bottom: 0rem;
  padding-bottom: 0rem;
}
}
.list{
  ul{
    list-style: none;
    li{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: baseline;
          -ms-flex-align: baseline;
              align-items: baseline;
      background-color: #fff;
      border-bottom: 1px solid $color-bg-s;
      padding: 1.2rem 0.8rem;
      #user{
        text-align: center;
      }
      #camera{
        text-align: right;
      }
      i{
        color: $color-secondary;
        font-size: 1.4rem;
      }
      p{
        font-size: 1.6rem;
        color: $color-primary;
      }
      span{
        font-size: 1.4rem;
      }
      
    }
  }
  
#mid {
  border-bottom: none;
}
}
}