.heading-1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.heading-2 {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}
.heading-3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
}